.eventCard {
  border-radius: 20px;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}
.cardContainer {
  height: 100%;
  width: 100%;

  border-radius: 20px;
  overflow: hidden;
}

.cardGradient {
  background: linear-gradient(
    180deg,
    rgba(255, 204, 0, 0.38) -40.54%,
    rgba(255, 204, 0, 0) 9.46%,
    rgba(0, 0, 0, 1) 59.46%
  );

  pointer-events: none;
  position: absolute;
  width: 99.5%;
  bottom: 1px;
  height: 100%;
  z-index: 2;
  border-radius: 20px;
}
.cardImage {
  width: 100%;
  height: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: contain;

  position: relative;
  z-index: 1;
  transition: all ease-in-out 0.7s;
  transform-origin: bottom;
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
  }
}

.cardDetails {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}
