.eventCard {
  border-radius: 20px;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}
.cardGradient {
  background: linear-gradient(
    180deg,
    rgba(255, 204, 0, 0.38) -40.54%,
    rgba(255, 204, 0, 0) 9.46%,
    rgba(0, 0, 0, 1) 59.46%
  );
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 20px;

  // border: 1px solid;

  // border-image-source: linear-gradient(
  //   180deg,
  //   rgba(255, 204, 0, 0.38) 0%,
  //   rgba(255, 204, 0, 0) 50%,
  //   rgba(255, 204, 0, 0.69) 100%
  // );
}

.cardDetails {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 55%;
  // font-family: Inter;

  h1{
    font-size: 24px;
    font-weight: 700px;
  }
  h4{
    font-size: 17px;
    font-weight: 500px;
  }
 
}
.cardWrapper{

  padding: 1px;
  position: relative;
  background: linear-gradient(
   180deg,
   rgba(255, 204, 0, 0.38) 0%,
    rgba(255, 204, 0, 0) 50%,
    rgba(255, 204, 0, 0.69) 100%
   );
  padding: 1px;
  border-radius: 20px;
}
.eventDate{
font-weight: 500px;
font-size: 17px;

  span{
    color:rgba(255, 204, 0, 1)

  }
}
.eventLocation{
  font-weight: 500px;
  font-size: 17px;
  color: #F1F1F1;
}
