.sideBar {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background: var(--sidebar);
  box-shadow: var(--sideBarShadow);
}
.sideBarInputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  background: #161616;
  border-radius: 4px;
  margin-top: 10px;
}
.sideBarInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
  overflow-x: hidden;
  background-color: transparent !important;
}
.sideBarInput:focus {
  outline: none;
}
.sideBarCheckboxesDiv {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 10px;
}
.checkboxText {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--white);
  margin-left: 8px;
  margin-bottom: 8px;
}
.dateText {
  color: var(--white);
  margin-bottom: 0;
}

.dateFilterDiv {
  margin-top: 30px;
}
.filterTitle {
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.roundCheckbox {
  border-radius: 50% !important;
  width: 14px;
  height: 14px;
  margin-bottom: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0.5px solid #878787;
  background: linear-gradient(0deg, #1e1e1e, #1e1e1e),
    linear-gradient(0deg, #878787, #878787);
}
.squareCheckbox {
  width: 14px;
  height: 14px;
  margin-bottom: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0.5px solid #878787;
  background: linear-gradient(0deg, #1e1e1e, #1e1e1e),
    linear-gradient(0deg, #878787, #878787);
}
.filterButton {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
