.title {
  padding: 20px;
}

.activityDate {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}

.activityCard {
  padding: 20px;
}

.activityCard2 {
  padding: 20px;
}


