.wrapper {
  width: 100%;
  background: rgba(212, 212, 212, 0.1);
  min-height: 70vh;
  align-items: center;
  display: flex;
 
}
.profile {
  display: flex;
  flex-direction: row;
}
.imageCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileHeader {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.profileReport {
  margin-bottom: 0;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: var(--text);
}
.profileTitle {
  font-family: "DrukWideMedium";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
.reportDiv {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  cursor: pointer;
  height: fit-content;
  justify-content: center;
}
.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text);

}
.viewTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(241, 241, 241, 0.5);
  display: flex;
  padding-left: 10px;
  margin-bottom: 0;
}
.view{
  flex-direction: row;
  display: flex; 
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  width: fit-content;
}
.edit{
display: flex;
align-items: flex-end;
justify-content: flex-end;


}
.editImage{
  cursor: pointer;
}
