.navbarCon {
  height: 70px;
  background-color: var(--footerBackground);
  color: var(--white) !important;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.mainLogo {
  max-width: 160px;
  @media (max-width: 991px) {
    margin: 0;
  }
}

.navbarRoutes {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  flex-grow: 1;
}
.navbarLink {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: ease-in-out 0.4s;
}
.navbarLink:hover {
  color: var(--primary);
  cursor: pointer;
}
.rightLinks {
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    display: none;
  }
}
.mobileLinks {
  display: flex;
  align-items: center;
  @media (min-width: 991px) {
    display: none;
  }
}
.userDetails {
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--white);
}
.userDetails:hover {
  background-color: var(--primary);
}
