.navbarCon {
  height: 70px;
  // background-color: rgba(5, 5, 5, 0.9);
  background-color: var(--footerBackground);
  color: var(--text) !important;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.mainLogo {
  max-width: 160px;
  @media (max-width: 991px) {
    margin: 0;
  }
}

.navbarRoutes {
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
  flex-grow: 1;
}
.navbarLink {
  color: var(--text);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  transition: ease-in-out 0.4s;
}
.navbarLink:hover {
  color: var(--yellow1);
}
.rightLinks {
  display: flex;
  align-items: center;
  @media (max-width: 991px) {
    display: none;
  }
}
.mobileLinks {
  display: flex;
  align-items: center;
  @media (min-width: 991px) {
    display: none;
  }
}
