.dashboardWrapper {
  min-height: 100vh;
  background-color: #0c0c0c;
}

.organizationSection {
  border-bottom: 3px solid #1a1a1a;
  padding: 24px 0px;
}
.viewAll {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}
.viewAll:hover {
  color: var(--primary-dark);
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
