.dashboardWrapper {
  min-height: 100vh;
  background-color: #0c0c0c;
}

.section {
  margin-top: 48px;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background-color: #0c0c0c;
  padding: 24px;
}

.viewAll {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
}
.viewAll:hover {
  color: var(--primary-dark);
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
