.gradient {
  color: var(--text);
  background: linear-gradient(180deg, rgba(137, 102, 15, 0) 0%, #0c0c0c 100%),
    linear-gradient(
      180deg,
      rgba(255, 204, 0, 0.38) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  opacity: 0.6;
  transition: ease-in-out 0.6s;
  border-radius: 34px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  max-width: fit-content !important;
  border: 0.5px solid rgba(255, 204, 0, 0.38);
}
.gradient:hover {
  background: linear-gradient(180deg, #0c0c0c 0%, #89660f 100%),
    linear-gradient(0deg, rgba(255, 204, 0, 0.38), rgba(255, 204, 0, 0.38));
  border: 0.5px solid var(--yellow1);
  opacity: 1;
}
