.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.organizerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.organizationName {
  margin: 8px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #f1f1f1;
}
.organizationRole {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #f1f1f1;
}

