.footerWrapper {
  background-color: #1e1e1e;
  min-height: 300px;
  border-top: 1px solid;
  border-color: #ffcc00;
  padding: 60px 40px;
}
.linksWrapper {
  display: flex;
}
.linksCol {
  display: flex;
  flex-direction: column;
}
.footerLink {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f1f1f1;
  text-decoration: none;
  margin-bottom: 20px;
  width: fit-content;
}
.footerLink:hover {
  color: #ffcc00;
  text-decoration: none;
}

.subscribeTitle {
  color: #f1f1f1;
  font-size: 14px;
  font-weight: Poppins;
  font-weight: 900;
}

.emailInput {
 background-color: #1e1e1e;
 font-size: 14px;

}

.emailInput:focus {
  background-color: #1e1e1e;
  
 color: white;
 }
.callForSubscription {
    color: #f1f1f1;
  font-size: 17px;
  font-weight: 500;
}

.socialIcons {
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  .socialIcon {
    height: 26px;
    cursor: pointer;
    color: white;
  }
}

.invalidMail {
  padding-top: 8px;
  color: red;
}

.mailSubmitted {
  padding-top: 8px;
  color: white;
}
.arrowRight{
  position: absolute;
  top: 32%;
  right: 10px;
}


