.footerWrapper {
  background-color:  var(--footerBackground);
  min-height: 300px;
  border-top: 1px solid;
  border-color:   var(--yellow1Hover);
  padding: 60px 40px;
}
.linksWrapper {
  display: flex;
}
.linksCol {
  display: flex;
  flex-direction: column;
}
.footerLink {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--text);
  text-decoration: none;
  margin-bottom: 20px;
  width: fit-content;
}
.footerLink:hover {
  color:   var(--yellow1Hover);
  text-decoration: none;
}

.subscribeTitle {
  color: var(--text);
  font-size: 17px;
  font-weight: Poppins;
  font-weight: 500;
}

.emailInput {
 background-color:var(--footerBackground);
 font-size: 14px;
font-weight: 400;
}

.emailInput:focus {
  background-color: var(--footerBackground);
 color: var(--text);
 border: none;
 }
.callForSubscription {
    color:var(--text);
  font-size: 17px;
  font-weight: 500;
}

.socialIcons {
  width: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  .socialIcon {
    height: 26px;
    cursor: pointer;
    color: var(--text);
  }
}

.invalidMail {
  padding-top: 8px;
  color: red;
}

.mailSubmitted {
  padding-top: 8px;
  color: var(--text);
}
.arrowRight{
  position: absolute;
  top: 32%;
  right: 10px;
}


