.organization {
  min-height: 100vh;
  background-color: #0c0c0c;
}

.cardContainer {
  width: 100%;
  border-radius: 20px;

  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  margin: 0;
}

.title {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0px;
}

.sectionTitle {
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 18px;
}
.userName {
  margin-bottom: 0 !important;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.arrowDown {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
}
.userTitle {
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 10px;
}
.addStaffDiv {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.addTitle {
  color: #ffcc00;
  font-weight: 500px;
  font-size: 17px;
  line-height: 21px;
  margin-left: 5px;
}
.tableContainer {
  width: 100%;
  border-radius: 20px !important;
  background-color: black;
}
.tableHead {
  color: var(--disabled2);
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.bodyText {
  color: var(--white) !important;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: 33%;
  padding: 0px 20px;
}

.paymentFunds {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
  margin-top: 50px;
}
