.statsWrapper {
  padding: 10px;
}
.statNumber {
  font-family: "Druk Wide Trial";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #f1f1f1;
}
.statType{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
text-align: center;

color: #F1F1F1;
}