.wrapper {
  min-height: 100vh;
  background-color: #0c0c0c;
}

.settingRow {
  color: var(--text);
  margin: 20px 8px;
  padding: 20px 8px;
  border: 1px solid var(--text);
  min-height: 250px;
  border-radius: 10px;
}
.sectionTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  font-family: "DrukWideMedium";
}
.settingCol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.settingCategory {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
}
.settingValue {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 0;
}
.switchDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settingLinkDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.settingLink {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--text);
  text-decoration: none;
  width: fit-content;
  margin: 10px 0;
}
.settingLink:hover {
  color: var(--yellow1Hover);
  text-decoration: none;
}

.inputBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5px solid var(--text);
  border-radius: 5px;
  margin-left: -5px;
  padding: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: var(--text);
  background-color: var(--yellow2) !important;
}
.inputBar:focus {
  outline: none;
}
