.cardContainer {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
}

.imageGradient {
  background: linear-gradient(
    270deg,
    #202020 0%,
    rgba(32, 32, 32, 0) 67.05%,
    rgba(32, 32, 32, 0) 67.05%
  );

  width: 30%;
  pointer-events: none;
  position: absolute;
  bottom: 1px;

  height: 99.3%;
  z-index: 2;
  border-radius: 20px;
}
.imageDiv {
  width: 30%;
  background-color: #050505;
}
.cardImage {
  width: 100%;
  border: 20px;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.cardDetails {
  background-color: #050505;
  width: 70%;
  padding: 38px 24px;
}
.cardTitle {
  font-family: "DrukWideMedium";

  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--white);
}
.cardPrice {
  font-family: "DrukWideMedium";

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 30px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardQuantity {
  font-family: "DrukWideMedium";

  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: var(--white);
}
.cardCounter {
  display: flex;
  align-items: center;
}
