.cardContainer {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  overflow: hidden;
}

.imageGradient {
  background: linear-gradient(
    270deg,
    #202020 0%,
    rgba(32, 32, 32, 0) 67.05%,
    rgba(32, 32, 32, 0) 67.05%
  );

  width: 30%;
  pointer-events: none;
  position: absolute;
  bottom: 1px;

  height: 99.3%;
  z-index: 2;
  border-radius: 17px;
}
.imageDiv {
  width: 30%;
  background-color: #050505;
}
.cardImage {
  width: 100%;
  border: 20px;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 1;
}
.cardDetails {
  background-color: #050505;
  width: 70%;
  padding: 38px 24px;
}
.cardTitle {
  font-family: "DrukWideMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #f1f1f1;
}
